.thumbnails {
    margin-top: 1rem;
    padding:2rem;
    margin-bottom: 4rem;
    background-color: linen;
  
}


.thumbnail {
    box-shadow: 0 0 1em rgba(0,0,0,0.2)
}

.specialty_text {
    padding-bottom: 2rem;
    font-weight: bold;
}


.caption h3 {
    font-size: 2rem !important;
}


.specialty_caption {
    font-weight: bold;
    color: #777777;
}

.meizon_logo {
    width: 30px;
    margin-left: 1rem;
}

.btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.btn-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
}
.readmore-btn {
    font-weight: bold;
    border:none;
    padding: 0.5rem;
    color:black;
    background-color: #C8204E;
    border: 1px solid #C8204E;
    border-radius: 10px;


}

.links {
    color:black;
}

@media only screen and (min-width:768px) {

    .thumbnail {
        
       padding-bottom: 2rem;
     

      
    }

/*     
    .thumbnail:hover {
        transform: scale(1.075);
    transition: 0.4s ease;
    cursor: pointer;
    } */


    .links:hover {
        color:black;
    }

    

   

    .thumbnail {
        
        box-shadow: 0 0 1em rgba(0,0,0,0.2)
    }

    .thumb1 {

    }


   .first_three {
       display: flex;
   }




    .meizon_logo {
        width: 40px;
        margin-left: 1rem;
    }


    .specialty_caption {
        font-weight: bold;
        color: #777777;
        font-size: 2rem;
      
   }

   .thumb2 {
       padding-bottom: 4rem !important;
   }

   .thumb3 {
       padding-bottom: 4rem;
   }

   .thumb6 {
       padding-bottom: 7rem;
   }

   

 }


 @media only screen and (min-width:1024px) { 

   





 }




 @media only screen and (min-width:1236px) { 

    .thumb6 {
        padding-bottom: 10rem !important;
    }




    .specialty_caption {
        font-weight: bold;
        color: #777777;
        font-size: 2.5rem;
      
   }
 





 }